# Virtual environments
.venv/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
*.sqlite3

# Local settings
local_settings.py
.env

# Django DRF specific
*.pot
*.mo
celerybeat-schedule

# If you're using SQLite for development
*.sqlite3-journal